body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#210207, #140f17);
}
.snaw{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}
.snaw:nth-child(1){
    opacity: 0.2;
    transform: translate(50vw, -10px) scale(0.9);
    animation: fall-1 10s linear infinite;
}
@keyframes fall-1{
35%{
    transform: translate(60vw, 35vh) scale(0.9);
}
to{
    transform: translate(40vw, 100vh) scale(0.9); 
}
}

.snaw:nth-child(2){
    opacity: 0.2;
    transform: translate(30vw, -10px);
    animation: fall-2 10s linear infinite;
}
@keyframes fall-2{
35%{
    transform: translate(30vw, 35vh) scale(0.5);
}
to{
    transform: translate(40vw, 100vh);
}
}
.snaw:nth-child(3){
    opacity: 0.2;
    transform: translate(50vw, -10px);
    animation: fall-3 16s linear infinite;
}
@keyframes fall-3{
35%{
    transform: translate(50vw, 35vh);
}
to{
    transform: translate(40vw, 100vh);
}
}
.snaw:nth-child(4){
    opacity: 0.2;
    transform: translate(50vw, -10px);
    animation: fall-4 16s linear infinite;
}
@keyframes fall-4{
35%{
    transform: translate(50vw, 35vh);
}
to{
    transform: translate(40vw, 100vh);
}
}
.snaw:nth-child(5){
    opacity: 0.2;
    transform: translate(50vw, -10px);
    animation: fall-5 16s linear infinite;
}
@keyframes fall-5{
35%{
    transform: translate(50vw, 35vh);
}
to{
    transform: translate(40vw, 100vh);
}
}