    *{
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }

    body{
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #210207;
        color: white;
    }
    /* navegador */
    .nav{
        height: 50px;
        margin: 20px;
        padding: 10px;
        border-radius: 20px;
        background: linear-gradient(to left,#730c1e, #210207);
        border: 1px solid rgba(255, 255, 255, 0.37);
        display: flex;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.452);
        position: sticky;
        top: 20px;
        overflow: hidden;
        z-index: 2;
        transition: all 1000ms ease;
    }
    .nav-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        display: flex;
        margin: 10px;
        align-items: center;
        margin: auto;
    }
    .nav-link ul{
        display: flex;
        gap: 20px;
        margin-right: 20px;
        margin-left: 100px;
        list-style: none;
        font-size: 17px;
    }
    .nav-link ul li{
        transition: all 1000ms ease;
    }
    .nav-link ul li a{
        color: white;
        text-decoration: none;
    }
    .nav-link ul li:hover{
        text-shadow: 0 0 10px white;
        transform: translateY(-5px);
        cursor: pointer;
    }
    .form-nav{
        padding: 0;
        display: flex;
    }
    .btn-buscar{
        padding: 7px;
        background: transparent;
        border: 2px solid #ccc;
        color: white;
        border-radius: 0px 5px 5px 0px;
        border-left: none;
        background-color: #792432;
    }
    .buscar{
        background-color: #ffffff;
        border: 2px solid #730c1e;
        border-right: none;
        margin-right: 0px;
        height: 10px;
        background: transparent;
        color: #ccc;
    }
    .buscar {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    transition: all 0.3s ease;
        border-right: none; 
    }


    .buscar:focus {
        color: white;
        box-shadow: 0 0 30px rgba(143, 166, 182, 0.3); 
    }
    .nav-usuario{
        background-color: #210207;
        color: white;
        border: none;
        border-bottom: 1px solid  rgba(255, 255, 255, 0.685);
        height: 40px;
        width: 150px;
        border-radius: 10px;
        font-size: 20px;
        transition: all 1000ms ease;
    }
    .nav-usuario:hover{
        box-shadow: 0 0 15px white;
        border-bottom: 3px solid  rgba(255, 255, 255, 0.685);
        cursor: pointer;
    }
    .nav-usuario a{
        text-decoration: none;
        color: white;
    }
    .nav-datos{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    /* contenedor de las div */

    header{
        height: 80vh;
        background-color: #22212156;
        margin: 10px;
        border-radius: 20px;
        display: flex;
    }
    /* peliculas parecidas */

    .peliculas-parecidas{
        height: 100%;
        width: 250px;
        border-right: 1px solid #730c1d79;
        overflow:auto;
    }
    .peliculas-parecidas::-webkit-scrollbar{
        display: none;
    }
    .pelicula{
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contenido-datos{
        display: flex;
        gap: 20px;
        margin: 0 10px 10px 0;
        font-family: 'Courier New', Courier, monospace;
        opacity: 0.7;
    }
    .contenido-datos h3{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #730c1d81;
        height: 40px;
        width: 100px;
        border-radius: 20px;
    }
    .pelicula h1{
        font-family: 'Times New Roman', Times, serif;
    }
    .pelicula img{
        height: 250px;
        width: 200px;
        border-radius: 10px;
        opacity: 0.7;
        transition: all 1000ms ease;
        box-shadow: 0 0 20px black;
    }
    .pelicula img:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgb(75, 73, 73);
        opacity: 1 ;
    }
    /* pelicula elegida */
    .pelicula-elegida{
        padding: 10px 20px 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: auto;
    }
    .pelicula-elegida::-webkit-scrollbar{
        display: none;
    }
    .video-pelicula{
        display: flex;
        gap: 25px;
    }
    .video-pelicula video{
        flex: 2;
        max-width: 650px;
        max-height: 650px;
        border-radius: 10px;
        box-shadow: 0 0 15px black;
    }
    .actores-directores{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 330px;
        gap: 20px;
    }
    .datos-pelicula{
        border-radius: 20px;
        background-color: #730c1d2c;
        height: 300px;
        overflow: auto;
        box-shadow: 0 0 10px black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .datos-pelicula::-webkit-scrollbar{
        display: none;
    }

    .comentarios{
        padding-bottom: 20px;
        background: transparent;
        backdrop-filter: blur(200px);
        height: 100px;
        width: 330px;
        border-radius: 20px;
        box-shadow: 0 0 20px black;
    }
    .comentarios .botones{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 10px 10px 10px 0;
    }
    .botones button{
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.096);
        border: none;
        border-radius: 10px;
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
        transition: all 1000ms ease;
    }
    .botones button:hover{
        background-color: rgba(128, 128, 128, 0.356);
        transform: translateY(-5px);
    }
    .botones button a{
        font-size: 14px;
        text-decoration: none;
        color: white;
    }
    .comentarios h2{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.603);
        margin-bottom: 20px;
    }
    .comentarios p{
        margin-top: 10px    ;
        text-align: center;
        opacity: 0.6;
    }
    .actores-directores ul{
        list-style: none;
        margin-left: 20px;
    }
    .actores-directores ul li{
        opacity: 0.7;
    }
    .titulo{
        font-family: 'Times New Roman', Times, serif;
        border-bottom: 1px solid rgba(255, 255, 255, 0.603);
    }
    .titulo h2{
        padding-left: 20px;
    }
    /* descripcion de la pelicula */
    .descripcion{
        width: 900px;
        margin: auto;
        background-color: #3b393a60;
        box-shadow: 0 0 10px black;
        border-radius: 20px;
        padding: 20px;
    }
    .descripcion h2{
        font-family: 'Times New Roman', Times, serif;
    }
    .descripcion p{
        opacity: 0.7;
    }